---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const HomePage = "Home Page";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{HomePage}</title>
	</head>
	<body>
		<Header />
		<h1>{HomePage}</h1>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos minus ipsa ratione quam obcaecati harum inventore ex eaque ipsum rerum explicabo assumenda quasi corporis quod maxime fugiat consectetur, quaerat quibusdam!</p>
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint dolor quae eveniet, obcaecati voluptatem, animi consectetur quia voluptates ipsam impedit cumque nam facilis eos quod dolores voluptate eum accusamus nesciunt.</p>
		<Footer />
	</body>
</html>
